.card_content {
  display: grid;
  grid-template-columns: repeat(5, 270px);
  margin-left: 100px;
  row-gap: 35px;
  column-gap: 90px;
}
.categories {
  background-color: #f2df4f;
  padding-bottom: 125px;
  max-width: 1920px;
}
.categories h2 {
  margin: 0px 0px 45px 100px;
  padding-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.75rem;
  width: 200px;
}
